@import "../../../../../constants/constants.scss";

@mixin icon {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.forArtist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // margin-block: 200px;
  height: 100vh;

  @media (max-width: $desktop-md-size) {
    height: auto;
  }

  &_container {
    position: relative;
    border-radius: 20px;
    background-color: $main-orange;
    padding: 40px 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $desktop-md-size) {
      flex-direction: column;
      max-width: 550px;
      justify-content: center;
      align-items: center;
    }

    h2 {
      // font-size: 28px !important;
      font-weight: bold;
      text-align: center;
      max-width: 640px;

      @media (max-width: 1280px) {
        max-width: 500px;
        font-size: 46px !important;
      }

      @media (max-width: $desktop-md-size) {
        max-width: 340px;
        font-size: 28px !important;
      }
    }
  }

  &_left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &_btnGroup {
    display: flex;
    gap: 10px;

    @media (max-width: $desktop-md-size) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &_right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 450px;
    width: 100%;
    padding-left: 40px;
    img {
      width: 100%;
    }

    @media (max-width: $desktop-md-size) {
      padding-left: 0;
      // display: none;
      max-width: 100%;
    }

    // @media (max-width: 600px) {
    //   height: 450px;
    // }

    // @media (max-width: mobile-size) {
    //   height: 400px;
    // }
  }

  &_imgContainer {
    position: absolute;
    max-width: 450px;
    bottom: -85px;
    @media (max-width: $desktop-md-size) {
      max-width: 350px;
      position: static;
      transform: translateY(73px);
    }
    // right: -45px;
  }
}
