@import './../../../constants/constants.scss';

.albumsWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow: hidden;

  @media (max-width: $desktop-md-size) {
    display: none;
  }
}

.albums {
  display: flex;
  flex-direction: column;
  gap: 16px;
}