@import "../../../../../constants/constants";

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  gap: 40px;

  p {
    text-align: center;
    color: white;
    line-height: 130%;
  }

  @media (max-width: $tablet-size) {
    width: 72%;
  }

  @media (max-width: $mobile-size) {
    width: 82%;
    padding: 40px;
    gap: 36px;
  }
}

.title {
  font-weight: 600;
  font-size: 32px;

  @media (max-width: $mobile-size) {
    font-size: 24px;
  }
}

.carousel {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1000px;
  overflow: hidden;
  display: flex;

  @media (max-width: $tablet-size) {
    max-width: 500px;
  }

  > * {
    flex: 0 0 100%;
  }

  svg,
  img {
    width: 180px;
  }

  &:hover .group {
    animation-play-state: paused;
  }
}

.group {
  display: flex;
  gap: 20px;
  /* Добавляем отступ справа, чтобы создать зазор между последней и первой картой. */

  will-change: transform; /* Мы должны быть добры к браузеру - пусть он знает, что мы будем анимировать. */
  align-items: center;
}

@keyframes leftScrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.toLeft {
  animation: leftScrolling 10s linear infinite;

  padding-right: 20px;
}

@keyframes rightScrolling {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.toRight {
  animation: rightScrolling 10s linear infinite;

  padding-left: 20px;
}

.slashes {
  font-size: 28px;
  @media (max-width: $desktop_size) {
    font-size: 24px;
  }
  @media (max-width: $desktop_md_size) {
    display: none;
  }
}
