@import "../../constants/constants";

.overlay {
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(20, 29, 37, 0.5);
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 13.04px 26.08px 0 rgba(0, 0, 0, 0.15);
  background: $dark-grey;
}

.baseModal {
  @extend .modal;

  width: 460px;
  height: auto;
  padding: 24px;
  gap: 10px;
  border-radius: 12px;

  @media (max-width: $mobile-size) {
    width: 80%;
    padding: 18px;
  }
}

.title {
  color: white;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 10px;
}

.content {
  color: white;
  font-size: 14px;
  line-height: 130%;

  a {
    text-decoration-line: underline;
  }
}

.linkButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 24px 8px 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: $main-orange;

  p {
    color: white;
    font-weight: 600;
  }

  &:hover {
    filter: brightness(80%);
    cursor: pointer;
  }
}
