.songListSubPage {
  display: flex;
  flex-direction: column;
  margin: 42px 36px 36px 0;
  height: auto;
  border-radius: 14px;
  padding: 32px 36px 36px 36px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
  background: rgb(17, 17, 17);
}

.songListSubPageEmpty {
  @extend .songListSubPage;
  min-width: 0;
}

.noSongBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 128px 0;

  &_title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 8px;
  }

  &_description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 32px;
  }
}

.titleBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  &_text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }
}

.songHeader {
  position: relative;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 32px 0px 32px;
  border-radius: 8px;
  background: rgb(23, 23, 23);
  margin-bottom: 5px;

  p {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  &_date {
    left: 32px;
  }

  &_song {
    left: 238px;
  }

  &_tokens {
    left: 528px;
  }

  &_invested {
    left: 744px;
  }

  @media (max-width: 1300px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 200px;
    }

    &_tokens {
      left: 408px;
    }

    &_invested {
      left: 624px;
    }
  }

  @media (max-width: 1200px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 160px;
    }

    &_tokens {
      left: 300px;
    }

    &_invested {
      left: 400px;
    }
  }
}

.songRow {
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 32px 8px 32px;
  border-radius: 10px;
  background: rgb(29, 29, 29);
  cursor: pointer;
  margin: 5px 0;

  p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }

  &_date {
    left: 32px;
  }

  &_song {
    left: 238px;
  }

  &_tokens {
    left: 542px;
  }

  &_invested {
    left: 750px;
  }

  @media (max-width: 1300px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 200px;
    }

    &_tokens {
      left: 422px;
    }

    &_invested {
      left: 635px;
    }
  }

  @media (max-width: 1200px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 160px;
    }

    &_tokens {
      left: 310px;
    }

    &_invested {
      left: 405px;
    }
  }
}

.chartState {
  display: flex;
  flex-direction: column;
  padding: 24px 32px 24px 32px;
  gap: 26px;
  border-radius: 12px;
  background: rgb(29, 29, 29);
  margin: 5px 0;

  &_title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
  }
}
