@import '../../../constants/constants';

@mixin card {
  width: 640px;
  cursor: pointer;

  @media (max-width: $tablet-size) {
    width: 100%;
  }
}

.firstCard {
  @include card;
  padding: 0 0 24px 0;
}

.questionCard {
  @include card;
  padding: 24px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }
}

.question {
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  user-select: none;
  color: white;

  @media (max-width: $mobile-size) {
    font-size: 14px;
  }
}

.answer {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  transition: all 1s ease-out;

  @media (max-width: $mobile-size) {
    font-size: 12px;
  }
}