@import '../../../../constants/constants';

.titleBlock {
  padding-top: 76px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-size) {
    h2 {
      font-size: 48px;
      text-align: center;
    }

    p {
      text-align: center;
    }

  }
}

.faqContent {
  display: flex;
  justify-content: center;

  @media (max-width: $desktop-size) {
    padding: 0;
    justify-content: center;
  }
}

.questionsColumn {

}

.questionBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  &_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    padding-bottom: 22px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
