// screen sizes
$mobile-size: 480px;
$tablet-size: 800px;
$desktop-md-size: 1040px;
$desktop-size: 1440px;

// colors
$dark-grey: rgb(17, 17, 17);
$light-grey: rgb(35, 35, 35);
$text-grey: rgb(200, 200, 200);
$main-red: rgb(254, 60, 6);
