// screen sizes
$mobile-size: 480px;
$tablet-size: 800px;
$desktop-md-size: 1040px;
$desktop-size: 1440px;

// colors
$dark-grey: rgb(30, 30, 30);
$primary-grey: rgb(35, 35, 35);
$light-grey: rgb(58, 56, 55);
$text-grey: rgb(200, 200, 200);
$main-orange: rgb(246, 96, 31);
