
.overviewRow, .overviewSubRow {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.overviewRow {
  @media (max-width: 1200px) {
    margin-top: 24px;
    flex-direction: column;
  }
}

.overviewSubRow {
  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.secondOverviewRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 24px;

  img {
    margin-bottom: 6px;
  }

  @media (max-width: 1440px) {
    flex-direction: column;
  }
}

.overviewItem {
  width: 300px;
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 24px 24px;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
  background: rgb(17, 17, 17);
  border: 1px solid rgba(246, 96, 31, 0.5);

  @media (max-width: 500px) {
    width: 320px;
  }

  &_column {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &_text1 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-weight: 400;
  }

  &_text2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 600;
  }
}

.title {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
}

.transactionsBlock {
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 25px 24px 25px;
  min-width: 620px;

  border-radius: 14px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
  background: rgb(17, 17, 17);

  &_text1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
  }

  &_text2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
  }

  @media (max-width: 1440px) {
    width: 100%;
  }
}

.royaltiesHistory {
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
  background: rgb(17, 17, 17);
  min-width: 530px;

  &_song {
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    background: rgb(29, 29, 29);
  }

  &_text1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
  }

  &_text2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
  }
}

.royaltiesHistoryList, .transactionsBlockList {
  width: 100%;
  overflow: auto;
}


.royaltiesHistoryList::-webkit-scrollbar,
.transactionsBlockList::-webkit-scrollbar {
  width: auto;
}

.royaltiesHistoryList::-webkit-scrollbar-track,
.transactionsBlockList::-webkit-scrollbar-track {
  width: 2px;
  background: transparent;
}

.royaltiesHistoryList::-webkit-scrollbar-thumb,
.transactionsBlockList::-webkit-scrollbar-thumb {
  background-color: white;
  height: 125px;
  width: 3px;
  border: 5px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

.royaltiesHistoryList::-webkit-scrollbar-corner,
.transactionsBlockList::-webkit-scrollbar-corner {
  width: 0;
  background: transparent;
}

.transactionsHeader {
  position: relative;
  min-height: 34px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 32px 0px 32px;
  border-radius: 8px;
  background: rgb(23, 23, 23);
  margin-bottom: 5px;
  margin-top: 16px;

  p {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  &_date {
    left: 32px;
  }

  &_song {
    left: 238px;
  }

  &_tokens {
    left: 528px;
  }

  &_invested {
    left: 744px;
  }

  @media (max-width: 1300px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 220px;
    }

    &_tokens {
      left: 408px;
    }

    &_invested {
      left: 624px;
    }
  }

  @media (max-width: 860px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 200px;
    }

    &_tokens {
      left: 350px;
    }

    &_invested {
      left: 456px;
    }
  }
}

.transactionsRow {
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 32px 8px 32px;
  border-radius: 10px;

  p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }

  &_date {
    left: 32px;
  }

  &_song {
    left: 238px;
  }

  &_tokens {
    left: 546px;
  }

  &_invested {
    left: 764px;
  }

  @media (max-width: 1300px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 220px;
    }

    &_tokens {
      left: 428px;
    }

    &_invested {
      left: 640px;
    }
  }

  @media (max-width: 860px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 200px;
    }

    &_tokens {
      left: 370px;
    }

    &_invested {
      left: 470px;
    }
  }
}

.royaltiesHistoryHeader {
  position: relative;
  min-height: 34px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 32px 0px 32px;
  border-radius: 8px;
  background: rgb(23, 23, 23);
  margin-bottom: 5px;
  margin-top: 16px;

  p {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  &_date {
    left: 32px;
  }

  &_song {
    left: 238px;
  }

  &_tokens {
    left: 500px;
  }

  &_invested {
    left: 744px;
  }

  @media (max-width: 1300px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 220px;
    }

    &_tokens {
      left: 408px;
    }

    &_invested {
      left: 624px;
    }
  }

  @media (max-width: 860px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 200px;
    }

    &_tokens {
      left: 350px;
    }

    &_invested {
      left: 476px;
    }
  }
}

.royaltiesHistoryRow {
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 32px 8px 32px;
  border-radius: 10px;

  p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }

  &_date {
    left: 32px;
  }

  &_song {
    left: 238px;
  }

  &_tokens {
    left: 504px;
  }

  &_invested {
    left: 758px;
  }

  @media (max-width: 1300px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 220px;
    }

    &_tokens {
      left: 408px;
    }

    &_invested {
      left: 640px;
    }
  }

  @media (max-width: 860px) {
    &_date {
      left: 32px;
    }

    &_song {
      left: 200px;
    }

    &_tokens {
      left: 350px;
    }

    &_invested {
      left: 490px;
    }
  }
}
