@import "../../../constants/constants";

.bannerTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 50px;
}

.bannerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &_p {
    margin-bottom: 40px;
  }

  h2 {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    max-width: 460px;
  }

  h3 {
    max-width: 460px;

    @media (max-width: $desktop-size) {
      max-width: 420px;
    }
  }
}

.bannerButtonsBlock {
  display: flex;
  flex-direction: row;
  gap: 24px;

  @media (max-width: $tablet-size) {
    flex-direction: column;
    gap: 12px;
  }
}

.flowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    max-width: 440px;
  }

  h3 {
    max-width: 460px;

    @media (max-width: $desktop-size) {
      max-width: 370px;
    }

    @media (max-width: $desktop-md-size) {
      text-align: center;
    }
  }

  &_title {
    width: 100%;
    @media (max-width: $desktop-md-size) {
      text-align: center;
    }
  }

  @media (max-width: $desktop-size) {
    justify-content: center;
    gap: 0;
  }

  @media (max-width: $desktop-md-size) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  @media (max-width: $tablet-size) {
    width: 100%;
  }
}

.tracksContainer {
  @extend .flowContainer;

  @media (max-width: 1200px) {
    margin: 0 20px;
  }

  @media (max-width: $desktop-md-size) {
    margin: 0;
  }

  h2 {
    max-width: 440px;
  }

  h3 {
    max-width: 460px;

    @media (max-width: $desktop-size) {
      max-width: 420px;
    }
  }

  &_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $desktop-md-size) {
      align-items: center;
    }
  }

  &_description {
    max-width: 450px;
    margin-bottom: 40px;

    @media (max-width: 1200px) {
      max-width: 320px;
    }

    @media (max-width: $desktop-md-size) {
      max-width: 50%;
      text-align: center;
    }

    @media (max-width: $tablet-size) {
      max-width: 98%;
    }
  }
}

.teamContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  @media (max-width: 1140px) {
    align-items: center;
    h3 {
      text-align: center;
    }
  }
}

@mixin wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lightThemeWrapper {
  @include wrappers;
  background-color: $primary-grey;
}

.howItWorksWrapper {
  @include wrappers;
  position: relative;
}

.howItWorksBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 45%;
  height: 100%;
  background-image: url("/backgrounds/how-it-work.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: linear-gradient(
  //     to right,
  //     rgb(246, 96, 31, 0.2),
  //     rgba(17, 17, 17, 1)
  //   );
  // }

  @media (max-width: $desktop-md-size) {
    display: none;
  }
}

.gradientWrapper {
  @include wrappers;
  background-image: url("/backgrounds/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 80%;

  h3 {
    text-align: center;
  }
}

@mixin shadowElement {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 5;
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0),
    rgb(17, 17, 17) 110%
  );

  @media (max-width: $desktop-md-size) {
    display: none;
  }
}

.shadowBottom,
.shadowTop {
  @include shadowElement;
  bottom: 0;
}

.shadowTop {
  @include shadowElement;
  top: 30px;
  transform: rotate(-180deg);
}

.videoBackground {
  position: absolute;
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.startBuildingWrapper {
  @include wrappers;
  .startBuildingTextCenter {
    text-align: center;
  }
  .startBuildingContainer {
    @media (max-width: $desktop-size) {
      justify-content: space-between;
      gap: 32px;
    }
  }

  .startBuildingImages {
    position: relative;
    max-width: 360px;
    width: 100%;
    height: 360px;
    @media (max-width: $desktop-md-size) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
    .startBuildingImage2 {
      width: 70%;
      height: 70%;
      position: absolute;
      right: -10px;
      bottom: -50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }

  h3,
  h4 {
    margin-bottom: 10px;
  }

  .orange {
    font-size: 32px;
    color: $main-orange;
  }
}
