@import '../../../../constants/constants';

.banner {
  &_tracksWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow: hidden;

    @media (max-width: $desktop-md-size) {
      display: none;
    }
  }

  &_trackColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.tracksSection {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  width: auto;

  @media (max-width: $tablet-size) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $mobile-size) {
    grid-template-columns: repeat(2, 1fr);
  }

  &_desktop {
    @media (max-width: $tablet-size) {
      display: none;
    }
  }

  &_tablet {
    @media (max-width: $mobile-size) {
      display: none;
    }
  }
}
