@import '../../../constants/constants';
@import '../Modals.module';

.lowBalanceModal {
  @extend .modal;

  width: 400px;
  height: auto;
  padding: 24px;
  gap: 10px;
  border-radius: 12px;

  @media (max-width: $mobile-size) {
    width: 80%;
    padding: 18px;
  }
}

.title {
  color: white;
  font-size: 24px;
  line-height: 100%;
}

.content {
  color: white;
  font-size: 14px;
  line-height: 130%;

  a {
    text-decoration-line: underline;
  }
}
