@import '../../../constants/constants';
@import '../Modals.module';

.approvePurchaseModal {
  @extend .modal;

  width: 420px;
  height: auto;
  padding: 24px;
  gap: 10px;
  border-radius: 12px;

  @media (max-width: $mobile-size) {
    width: 80%;
    padding: 18px;
  }
}

.title {
  color: white;
  font-size: 24px;
  line-height: 100%;
}

.content {
  color: white;
  font-size: 14px;
  line-height: 130%;

  a {
    text-decoration-line: underline;
  }
}

.linkButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 24px 8px 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  background: $main-orange;

  p {
    color: white;
    font-weight: 600;
  }

  &:hover {
    filter: brightness(80%);
    cursor: pointer;
  }
}
