@import "./../../../constants/constants.scss";

.buttonDiv {
  @mixin baseButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 8px 24px 8px 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    p {
      color: white;
      font-weight: 600;
    }

    &:hover {
      filter: brightness(80%);
      cursor: pointer;
    }
  }

  & {
    @include baseButton;
  }

  &_main {
    @include baseButton;
    background: $main-orange;
  }

  &_grey {
    @include baseButton;
    background: $light-grey;
  }

  &_transparent {
    @include baseButton;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
  }

  &_loading {
    @include baseButton;
    background: transparent;

    p {
      color: gray;
      user-select: none;
    }

    &:hover {
      filter: none;
      cursor: initial;
    }
  }

  &_formGrey {
    @include baseButton;
    background: $light-grey;
    width: 100%;
    height: 42px;
    font-size: 16px;
  }
}
