@import './../../../constants/constants.scss';

.buttonDiv {
  @mixin baseButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px 8px 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    p {
      margin-right: 12px;
      color: white;
      font-weight: 500;
    }

    &:hover {
      filter: brightness(80%);
      cursor: pointer;
    }
  }

  & {
    @include baseButton;
  }

  &_red {
    @include baseButton;
    background: $main-orange;
  }

  &_grey {
    @include baseButton;
    background: $primary-grey;
  }

  &_transparent {
    @include baseButton;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
  }
}