.trackDetails {
  display: flex;
  flex-direction: column;

  @mixin row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    color: white;
    font-size: 14px;
    line-height: 130%;
  }

  &_standartRow {
    @include row();
    border-top: 1px solid;
    border-image: linear-gradient(
        90deg,
        rgba(35, 35, 32, 1) 0%,
        rgba(175, 175, 175, 0.9) 50%,
        rgba(35, 35, 35, 1) 100%
      )
      30;
  }

  &_topRow {
    @include row();
    border: none;
  }
}
