@import '../../../../../constants/constants';

.catalog {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(3, 390px);
  justify-content: center;

  @media (max-width: $desktop-size) {
    grid-template-columns: repeat(2, 390px);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(1, 440px);
  }

  @media (max-width: $mobile-size) {
    grid-template-columns: repeat(1, 100%);
  }
}

.trackCard {
  display: flex;
  flex-direction: column;
  align-content: center;

  &_cover {
    width: 100%;
  }

  &_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    color: white;
  }

  &_description {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    margin-top: 20px;
    gap: 20px;
  }
}
