@import './../../constants/constants.scss';

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  background-color: $primary-grey;
  height: 56px;
  padding: 12px 0;

  &_logo {
    position: relative;
    display: block;
    width: 141px;
    height: 32px;
    margin-right: 60px;

    @media (max-width: $mobile-size) {
      width: 127px;
      height: 29px;
    }
  }

  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1376px;

    @media (max-width: $desktop-size) {
      width: 88%;
    }

    @media (max-width: $mobile-size) {
      width: 88%;
    }
  }

  @media (max-width: $mobile-size) {
    height: 68px;
  }

  &_row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;

  a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
  }

  a:hover {
    color: $main-orange;
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.mediaWrapper {
  img {
    display: none;
  }

  @media (max-width: 900px) {
    img {display: block;}
    p {display: none;}
  }
}

.mobile {
  display: none;

  @media (max-width: 900px) {
    display: flex;

  }
}

.desktop {
  display: flex;

  @media (max-width: 900px) {
    display: none;
  }
}