@import './../../constants/constants.scss';

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  background-color: $primary-grey;
  height: 56px;
  padding: 12px 0;

  &_logo {
    position: relative;
    display: block;
    width: 141px;
    height: 32px;

    @media (max-width: $mobile-size) {
      width: 127px;
      height: 29px;
    }
  }

  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1376px;

    @media (max-width: $desktop-size) {
      width: 88%;
    }

    @media (max-width: $mobile-size) {
      width: 88%;
    }
  }

  @media (max-width: $mobile-size) {
    height: 68px;
  }

  &_row {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.mediaWrapper {
  img {
    display: none;
  }

  @media (max-width: $tablet-size) {
    img {display: block;}
    p {display: none;}
  }
}