.galleryWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryWrapper::before {
  position: absolute;
  content: "";
  top: 10px;
  width: 100%;
  height: 700px;
  z-index: -1;
  background-image: url("/backgrounds/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transform: rotate(180deg);
}

.blogTitleBlock {
  width: 100%;
  padding: 160px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 800px) {
    width: 90%;
  }

  &_title {
    font-weight: 600;
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 70px;
    margin-bottom: 14px;

    @media (max-width: 500px) {
      font-size: 50px;
      line-height: 60px;
    }
  }

  &_description {
    font-size: 18px;
    text-align: center;
    color: #C8C8C8;
    max-width: 720px;
  }
}

.gallery {
  max-width: 1440px;
}

.fancybox {
  max-width: 1240px;

  @media (max-width: 1400px) {
    max-width: 930px;
  }

  @media (max-width: 1000px) {
    max-width: 620px;
  }

  @media (max-width: 700px) {
    max-width: 500px;
  }

  @media (max-width: 540px) {
    max-width: 300px;
  }

  a {
    margin-right: 6px;

    @media (max-width: 540px) {
      margin-right: 0;
    }
  }

  img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.16);

    @media (max-width: 700px) {
      width: 240px;
    }

    @media (max-width: 540px) {
      width: 300px;
    }
  }
}

.eventList {
  display: flex;
  gap: 24px;
}

.eventBlock {
  width: 385px;
  height: 310px;
  background: #34343480;
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 500px) {
    width: 310px;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(80%);
  }

  &_illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 100%;
    background: lightgoldenrodyellow;
  }

  &_description {
    padding: 20px 12px 12px 20px;
    height: 100%;
  }

  &_title {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &_date {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}

.backToAllEvent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 230px;
  margin-bottom: 14px;
  cursor: pointer;

  padding: 12px 18px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1),0 3px 6px 0 rgba(0, 0, 0, 0.1);
  background: rgba(52, 52, 52, 0.8);

  @media (max-width: 540px) {
    width: 100%;
  }

  p {
    color: white;
    font-size: 16px;
  }

  &:hover {
    filter: brightness(130%);
  }
}
