.statisticsWrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.statistics {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;

  @media (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
  }
}

.statisticColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.statisticItem {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 10px 24px;
  box-sizing: border-box;
  border-radius: 14px;
  background: rgba(30, 30, 30, 0.3);
  border: 1px solid rgba(246, 96, 31, 0.5);

  @media (max-width: 1100px) {
    width: 700px;
  }

  @media (max-width: 800px) {
    width: 100%;
  }

  img {
    transform: rotate(16.00deg);
  }

  &_textBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &_number {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
  }

  &_title {
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    font-weight: 400;
  }
}

.cardBlockWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chartBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &_summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px 18px 12px 18px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgb(30, 30, 30);
  }

  &_summary_text1 {
    color: rgb(246, 96, 31);
    font-size: 24px;
    font-weight: 600;
  }

  &_summary_text2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
  }
}

.chartWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 24px;
  border-radius: 24px;
  background: rgba(30, 30, 30, 0.3);
}


