@import './../../constants/constants.scss';

.footerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  padding: 60px 0;

  @media (max-width: $desktop-size) {
    max-width: 990px;
  }

  @media (max-width: $desktop-md-size) {
    width: 640px;
    align-items: flex-end;
  }

  @media (max-width: $tablet-size) {
    width: 100%;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    padding: 60px 0 30px 0;
  }

  @media (max-width: $mobile-size) {
    width: 82%;
  }
}

.footerText {
  margin-top: 16px;

  @media (max-width: $desktop-md-size) {
    max-width: 220px;
  }

  @media (max-width: $tablet-size) {
    text-align: center;
  }
}

.footerLinksBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  a {
    color: white;
  }

  @media (max-width: $tablet-size) {
    align-items: center;
  }
}

.linksBlockWrapper {
  position: relative;
  height: 100%;
}

.emailBlock {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $tablet-size) {
    align-items: center;
  }
}