@import './../../constants/constants.scss';

.footerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  padding: 60px 0;

  @media (max-width: $desktop-size) {
    max-width: 990px;
  }

  @media (max-width: 1040px) {
    width: 640px;
  }

  @media (max-width: $tablet-size) {
    width: 100%;
    gap: 40px;
    align-items: center;
    padding: 60px 0 30px 0;
  }

  @media (max-width: $mobile-size) {
    width: 82%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 60px 10%;
}

.footerText {
  margin-top: 16px;

  @media (max-width: 1040px) {
    max-width: 220px;
  }

  @media (max-width: $tablet-size) {
    text-align: center;
  }
}

.emailWrapper {
  position: relative;
  height: 100%;
}

.emailBlock {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 4px;

  @media (max-width: $tablet-size) {
    position: initial;
  }
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $tablet-size) {
    align-items: center;
  }
}