@import './../../constants/constants.scss';

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  padding: 60px 0;

  @media (max-width: $desktop-size) {
    max-width: 990px;
  }

  @media (max-width: $desktop-md-size) {
    width: 640px;
    gap: 48px;
  }

  @media (max-width: $tablet-size) {
    width: 100%;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    padding: 60px 0 30px 0;
  }

  @media (max-width: $mobile-size) {
    width: 82%;
  }
}

.footerMainText {
  margin-top: 16px;
  font-size: 14px;

  @media (max-width: $desktop-md-size) {
    max-width: 220px;
  }

  @media (max-width: $tablet-size) {
    text-align: center;
  }
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $tablet-size) {
    align-items: center;
  }
}

.linksBlock {
  display: flex;
  flex-direction: row;
  gap: 44px;

  @media (max-width: $desktop-md-size) {
    gap: 28px;
  }

  @media (max-width: $tablet-size) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.linksColumn {
  display: flex;
  flex-direction: column;
  gap: 4px;

  p, a {
    font-size: 14px;
  }

  a {
    color: white;
    align-self: flex-start;
  }

  @media (max-width: $tablet-size) {
    align-items: center;

    p, a {
      font-size: 16px;
      font-weight: 500;
    }

    a {
      align-self: center;
    }
  }
}

.emailBlock {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-size) {
    align-items: center;
  }
}

.mediaWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (max-width: $tablet-size) {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(6, 1fr);

    & a:nth-child(n) {
      grid-column: span 2
    }

    & a:nth-last-child(2) {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    & a:nth-last-child(1) {
      grid-column-start: 4;
      grid-column-end: 6;
    }
  }
}

.mediaDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  @media (max-width: $tablet-size) {
    display: none;
  }
}

.mediaMobile {
  display: none;

  @media (max-width: $tablet-size) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;

    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 12px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1),0 4px 4px 0 rgba(0, 0, 0, 0.05),0 1px 0 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.02),rgba(255, 255, 255, 0.1) 100%);
  }
}

.weAcceptBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 40px;

  p {
    font-size: 16px;
    color: white;
  }

  @media (max-width: $desktop-md-size) {
    margin-top: 20px;
    p {
      font-size: 15px;
    }
  }

  @media (max-width: $tablet-size) {
    p {
      font-size: 18px;
    }
    margin-top: 40px;
  }
}