@import "../../../../../constants/constants";

.roadmap {
  margin-top: 32px;
  width: 1200px;

  img {
    width: 100%;

    @media (max-width: 940px) {
      display: none;
    }
  }

  @media (max-width: $desktop-size) {
    width: 100%;
    padding: 0 6%;
  }

  @media (max-width: 940px) {
    padding: 0;
  }
}

.mobileRoadmap {
  display: none;

  @media (max-width: 940px) {
    display: block;
  }
}
