@import '../../constants/constants';

.bannerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &_p {
    margin-bottom: 40px;
  }

  h2 {
    max-width: 440px;
  }

  h3 {
    max-width: 460px;

    @media (max-width: $desktop-size) {
      max-width: 420px
    }
  }
}

.bannerButtonsBlock {
  display: flex;
  flex-direction: row;
  gap: 24px;

  @media (max-width: $tablet-size) {
    flex-direction: column;
    gap: 12px;
  }
}

.flowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    max-width: 440px;
  }

  h3 {
    max-width: 460px;

    @media (max-width: $desktop-size) {
      max-width: 370px
    }

    @media (max-width: $desktop-md-size) {
      text-align: center;
    }
  }

  &_title {
    width: 100%;
    @media (max-width: $desktop-md-size) {
      text-align: center;
    }
  }

  @media (max-width: $desktop-size) {
    justify-content: center;
    gap: 0;
  }

  @media (max-width: $desktop-md-size) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  @media (max-width: $tablet-size) {
    width: 100%;
  }
}

.tracksContainer {
  @extend .flowContainer;

  @media (max-width: 1200px) {
    margin: 0 20px;
  }

  @media (max-width: $desktop-md-size) {
    margin: 0;
  }

  h2 {
    max-width: 440px;
  }

  h3 {
    max-width: 460px;

    @media (max-width: $desktop-size) {
      max-width: 420px
    }
  }

  &_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $desktop-md-size) {
      align-items: center;
    }
  }

  &_description {
    max-width: 450px;
    margin-bottom: 40px;

    @media (max-width: 1200px) {
      max-width: 320px;
    }

    @media (max-width: $desktop-md-size) {
      max-width: 50%;
      text-align: center;
    }

    @media (max-width: $tablet-size) {
      max-width: 98%;
    }
  }
}

.teamContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  @media (max-width: 1140px) {
    align-items: center;
    h3 {
      text-align: center;
    }
  }
}

@mixin wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lightThemeWrapper {
  @include wrappers;
  background: $primary-grey;
}

.gradientWrapper {
  @include wrappers;
  background-image: url("/backgrounds/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 80%;

  h3 {
    text-align: center;
  }
}

@mixin shadowElement {
  position: absolute;
  width: 100%;
  height: 80px;
  background: linear-gradient(180.00deg, rgba(17, 17, 17, 0),rgb(17, 17, 17) 100%);

  @media (max-width: $desktop-md-size) {
    display: none;
  }
}

.shadowBottom, .shadowTop {
  @include shadowElement;
  bottom: 0
}

.shadowTop {
  @include shadowElement;
  top: 0;
  transform: rotate(-180.00deg);
  z-index: 1;
}

