@import '../../../constants/constants.scss';

.tab {
  display: flex;
  justify-content: center;
  padding: 10px 24px;
  border-radius: 8px;
  background-color: $light-grey;

  font-size: 14px;
  font-weight: 700;
  color: white;
}