@import '../../../constants/constants';

.authLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: $light-grey;
}

.blockWrapper {
  width: 560px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px 40px 48px 40px;
  border-radius: 24px;
  background: rgb(17, 17, 17);

  @media (max-width: 500px) {
    margin-top: 40px;
    width: 88%;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
}

.secondaryText {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  //font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.formInput {
  width: 100%;
  height: 50px;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  background: rgb(29, 29, 29);
  outline-style: none;
}

.formInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

.passwordIconWrapper {
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
}

.dontHaveAccount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  gap: 8px;
  border-top: 1px solid;
  border-image: linear-gradient(90deg, rgba(35,35,32,1) 0%, rgba(175,175,175,0.9) 50%, rgba(35,35,35,1) 100%) 30;

  p {
    color: white;
    font-size: 18px;
  }

  a {
    color: $main-orange;
    font-size: 18px;
    font-weight: 600;
  }
}
